<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- SQL Server için hedef tanımlama -->
    <target xsi:type="Database" name="database" connectionString="Server=LAPTOP-LM2N83TK;Database=MikroNewsDB4;Integrated Security=True;">
      <commandText>
        INSERT INTO Logs (Date, Level, Logger, Message, Exception)
        VALUES (@date, @level, @logger, @message, @exception);
      </commandText>
      <parameter name="@date" layout="${longdate}" dbType="DateTime" />
      <parameter name="@level" layout="${level}" dbType="String" size="50" />
      <parameter name="@logger" layout="${logger}" dbType="String" size="255" />
      <parameter name="@message" layout="${message}" dbType="String" size="4000" />
      <parameter name="@exception" layout="${exception}" dbType="String" size="4000" />
    </target>
  </targets>

  <rules>
    <!-- Sadece belirli bir logger için logları yaz -->
    <logger name="MikroNews.WebUI.Controllers.UserController" minLevel="Info" writeTo="database" />
    <logger name="MikroNews.WebUI.Controllers.AdminController" minLevel="Info" writeTo="database" />
  </rules>
</nlog>
